## Data types in a frame
A categorical variable is what is sometimes called an "enum" in other languages.  R gives these the somethat confusing name "factors" and represents them efficiently as integers. For code designed for categorical variables, we need to tell R that this column of a data frame should be treated as a "factor."

Here is a column of strings:

In [22]:
stringcolors = c("red","blue","green")

In [23]:
stringcolors

[1] "red"   "blue"  "green"

Let's convert it to factors.

In [24]:
colors = factor(stringcolors)

In [25]:
colors

[1] red   blue  green
Levels: blue green red

In [26]:
is.factor(colors)

[1] TRUE

In [27]:
sizes = factor(c("S","M","L"))

In [28]:
prices = factor(c(9.99, 12.99, 19.99))

In [29]:
prices

[1] 9.99  12.99 19.99
Levels: 9.99 12.99 19.99

In [30]:
clothes = data.frame(colors,sizes,prices)

In [31]:
clothes

  colors sizes prices
1    red     S   9.99
2   blue     M  12.99
3  green     L  19.99

In [32]:
summary(clothes)

   colors  sizes   prices
 blue :1   L:1   9.99 :1
 green:1   M:1   12.99:1
 red  :1   S:1   19.99:1

In [33]:
xtabs(~colors+sizes, data=clothes)

       sizes
colors  L M S
  blue  0 1 0
  green 1 0 0
  red   0 0 1